fastapi
python-dotenv
uvicorn[standard]
pydantic
qdrant-client==1.7.0
requests
psycopg2-binary
langgraph
langchain-core
langchain-community
langchain-openai
kafka-python
langfuse
langfuse-langchain
langchain
